*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  height: 250vh;
    background: radial-gradient(circle at 30% 30%, rgba(95, 0, 255, 0.25), transparent 60%),
        radial-gradient(circle at 70% 70%, rgba(0, 195, 255, 0.25), transparent 60%),
        radial-gradient(circle at 50% 100%, rgba(255, 0, 128, 0.2), transparent 70%),
        #000;
    background-blend-mode: screen;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}


.card{
     width: 95%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    
    align-items: center;
     background: rgba(255, 255, 255, 0.1); 
      backdrop-filter: blur(12px);
       -webkit-backdrop-filter: blur(12px); 
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.462);
      border-radius: 20px;
         transition: ease-in-out 0.3s;

}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
h1{
    font-size: 40px;
    color: rgb(143, 76, 225);
    margin-top: 20px;
   
    
}
p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.3s;
   
 


}


.project-details{
     box-shadow: 0 0 15px rgba(37, 2, 48, 0.512);
    background-color: #1F1F1F;
    padding: 20px;
    border-radius: 10px;
    width: 80rem;
    text-align: center;
    height: max-content;
     margin: 35px;
     transition: ease-in-out 0.3s;
     
}

.project-details:hover{
    
    transform: scale(1.05); 
  

}
h2{
    font-size: 40px;
    color: rgb(143, 76, 225);
    margin-top: 70px;
    
    margin-bottom: 40px;
    text-align: center;
    
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
    flex-wrap: wrap;
}


span{
    color: rgb(255, 200, 0);
    font-style: italic;
     box-shadow: 0 0 15px rgba(37, 2, 48, 0.512);
    background-color: #1F1F1F;
    padding: 15px 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    height: 50px;
    transition: ease-in-out 0.3s;
}
span:hover{
    background-color: rgb(120, 115, 115);
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 15px rgba(37, 2, 48, 0.512);
    background-color: #1F1F1F;
    border-radius: 10px;
    width: 750px;
    height: max-content;
    margin: 10px;
    padding: 30px;
    flex-wrap: wrap;
    
   

}

li{
    margin: 15px;
}
.gallery{
    height: fit-content;
    width: max-content;
     display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
   
}


.gallery img{
   
    height: 200px;
    width: fit-content;
    object-fit: cover;
    border-radius: 10px;
    transition: ease-in-out 0.3s;


}
.gallery img:hover{
    transform: scale(1.05);
    

}
.img-2{
    height: 700px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #1F1F1F;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}
.link:hover{
    transform: scale(1.05);
    color: rgb(12, 205, 12);
    }

.nav-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
    margin-bottom: -50px;
    margin-top: 50px;

}

.navigation{
    text-decoration: none;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: ease-in-out 0.3s;
}
.navigation:hover{
    transform: scale(1.05);
background-color: rgb(3, 55, 3);
}
.navigation-1{
    text-decoration: none;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: ease-in-out 0.3s;;

}
.navigation-1:hover{
    transform: scale(1.05);
background-color: rgb(143, 9, 9);
}





    

